.card
  .card-body
    a[href="#"]
      h3
        | Material Tailwind
    p.mb-3.opacity-60
      |  The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. 
    button.button.button-pink[data-ripple-light="true"]
      |  Read More 
