<nav class="navbar w-full bg-white" id="nav">
  <div class="container-lg px-0">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" aria-current="page" href="#">
          <i class="material-icons mr-2 text-base opacity-60">article</i>
          <span>Documantation</span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="material-icons mr-2 text-base opacity-60">apps</i>
          <span>Components</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
