<%= form_with url: scrapes_path,local: true do |f|%>
  <label class="input-group">
    <%= f.label :page_num %>
    <%= f.text_field :page_num,class:'input input-bordered input-warning' %>
    <%= f.submit class:'btn'%>
  </label>
<%end%>

<turbo-frame id="scrapes"></turbo-frame>