h1 {
  background: linear-gradient(transparent 70%, #FFC778 70%);
  width: fit-content;
  margin: 0 auto;
}
h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  font-weight: 600;
}
h3:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  border-radius: 2px;
}
