script async='' src="https://www.googletagmanager.com/gtag/js?id=G-W6K61PN8M6"
script
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W6K61PN8M6');